/// Animation helpers
@include keyframes(fadeIn) {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

%fadeIn {
  @include animation(fadeIn 0.5s $ease-in-out-quad);
  display: block;
}

@include keyframes(fadeOut) {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

%fadeOut {
  @include animation(fadeOut 0.5s $ease-in-out-quad);
  display: none;
}


// ****************************************************************************
// Mixins
// ****************************************************************************

@mixin fancy-link($accent-color) {
  a:hover { border-bottom-color:$accent-color; border-bottom-width:0.125em; }
}

@function mr($l) { @return modular-rythm($l); }
@function modular-rythm($level) {
  $n: 3 - $level;
  @return golden-ratio(em(14),  $n);
}
